* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(45deg, #dddddc, #dadbda);
  height: 100px;
  line-height: 100px;

  text-align: center;
  font-style: italic;
  font-size: 50px;
}

.sughero {
  background-image: url(img/sughero.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
}

.padding {
  padding: 8px;
}
.container {
  max-width: 1200px;
  padding: 25px;
}

.pin {
  position: absolute;
  translate: 280%;
  top: -15px;
}

.card {
  position: relative;
}
